.card {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.25);
    margin: 2rem auto;
    width: 95%;
    /* max-width: 95%; */
    padding: 1rem;
    background-color: whitesmoke;
    text-align: center;


    word-wrap: break-word;
}

.card-hover {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.25);
    margin: 2rem auto;
    width: 95%;
    /* max-width: 95%; */
    padding: 1rem;
    background-color: #34e1fb;
    text-align: center;


    word-wrap: break-word;
}



/* https://www.color-hex.com/color-palette/39441 */